.home {
    display: flex;
    height: 100vh;
    overflow: hidden;
  }
  
  .home__sidebar {
    flex: 1;
    background-color: #f0f0f0;
    padding: 20px;
    border-right: 1px solid #ddd;
    overflow-y: auto;
  }
  
  .home__main {
    flex: 3;
    padding: 20px;
    overflow-y: auto;
  }
  
  .home__logout-btn {
    margin-top: 20px;
    background-color: #1877f2;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .home__logout-btn:hover {
    background-color: #145db2;
  }
  